.upper{
    padding: 20px;
}

.height-100{
    height: 100vh;
}

.subtitle{
    text-align: center;
    font-family: 'poppins';
    font-size: 30pt;
}

.card-group{
    align-items: center;
    justify-content: center;
}

.other-news{
    margin-top: 20px;
}